{% extends 'base.html' %}
{% block content %}

<div class="container">
  <h1>Edit Profile</h1>
  <div class="profile-section">
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
        {{ form.first_name.errors }}
      </div>
      <div class="form-group">
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
        {{ form.last_name.errors }}
      </div>
      <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
      </div>
      <div class="form-group">
        {{ form.bio.label_tag }}
        {{ form.bio }}
        {{ form.bio.errors }}
      </div>
      <div class="form-group">
        {{ form.profile_picture.label_tag }}
        {{ form.profile_picture }}
        {{ form.profile_picture.errors }}
      </div>
      <div class="form-group">
        {{ form.post.label_tag }}
        {{ form.post }}
        {{ form.post.errors }}
      </div>
      <div class="form-group">
        {{ form.comment.label_tag }}
        {{ form.comment }}
        {{ form.comment.errors }}
      </div>
      <div class="form-group">
        {{ form.hub.label_tag }}
        {{ form.hub }}
        {{ form.hub.errors }}
      </div>
      <button type="submit" class="animated-button">Save Changes</button>
      <a href="{% url 'dashboard' %}" class="animated-button">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
